.logo1 {
  background: url(./images/go.png?__sprite)
}
.logo2 {
  background: url(./images/flutter.png?__sprite)
}
.logo3 {
  background: url(./images/react.png?__sprite)
}
.logo4 {
  background: url(./images/babel.png?__sprite)
}
.logo5 {
  background: url(./images/graphql.png?__sprite)
}